In [9]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Practice').getOrCreate()

24/08/04 17:44:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [42]:
import pandas as pd
df=pd.DataFrame({'name':['ann','sash','sash','koli'],'age':[1,1,2,4],'experience':[5,6,7,5]})
df.to_csv("spark.csv",index=False)

In [12]:
spark

In [43]:
df_sp=spark.read.option('header','true').csv('spark.csv',inferSchema=True)
df_sp.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
| ann|  1|         5|
|sash|  1|         6|
|sash|  2|         7|
|koli|  4|         5|
+----+---+----------+

In [44]:
type(df_sp)

pyspark.sql.dataframe.DataFrame

In [45]:
df_sp.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [46]:
df_sp1=spark.read.csv('spark.csv',inferSchema=True,header=True)
df_sp1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [47]:
df_sp.head(10)

[Row(name='ann', age=1, experience=5),
 Row(name='sash', age=1, experience=6),
 Row(name='sash', age=2, experience=7),
 Row(name='koli', age=4, experience=5)]

In [49]:
df_sp.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
| ann|  1|         5|
|sash|  1|         6|
|sash|  2|         7|
|koli|  4|         5|
+----+---+----------+