In [36]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [61]:
from sqlalchemy import text
from sqlalchemy.engine import URL

url = URL.create(
    drivername="postgresql",
    username="postgres",
    database="dvdrental"
)

engine = create_engine(url, echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select first_name from actor"))
    print(result.all())

2024-08-21 23:03:12,483 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-08-21 23:03:12,483 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-08-21 23:03:12,484 INFO sqlalchemy.engine.Engine select current_schema()
2024-08-21 23:03:12,485 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-08-21 23:03:12,486 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-08-21 23:03:12,487 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-08-21 23:03:12,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-21 23:03:12,489 INFO sqlalchemy.engine.Engine select first_name from actor
2024-08-21 23:03:12,489 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {}
[('Penelope',), ('Nick',), ('Ed',), ('Jennifer',), ('Johnny',), ('Bette',), ('Grace',), ('Matthew',), ('Joe',), ('Christian',), ('Zero',), ('Karl',), ('Uma',), ('Vivien',), ('Cuba',), ('Fred',), ('Helen',), ('Dan',), ('Bob',), ('Lucille',), ('Kirsten',), ('Elvis',), ('Sandra',), ('Cameron',), ('Kevin',), ('Rip',), ('Julia',), ('Woody',), ('Alec',), ('Sandra',), ('Sissy',), ('Tim',), ('Milla',), ('Audrey',), ('Judy',), ('Burt',), ('Val',), ('Tom',), ('Goldie',), ('Johnny',), ('Jodie',), ('Tom',), ('Kirk',), ('Nick',), ('Reese',), ('Parker',), ('Julia',), ('Frances',), ('Anne',), ('Natalie',), ('Gary',), ('Carmen',), ('Mena',), ('Penelope',), ('Fay',), ('Dan',), ('Jude',), ('Christian',), ('Dustin',), ('Henry',), ('Christian',), ('Jayne',), ('Cameron',), ('Ray',), ('Angela',), ('Mary',), ('Jessica',), ('Rip',), ('Kenneth',), ('Michelle',), ('Adam',), ('Sean',), ('Gary',), ('Milla',), ('Burt',), ('Angelina',), ('Cary',), ('Groucho',), ('Mae',), ('Ralph',), ('Scarlett',), ('Woody',), ('Ben',), ('James',), ('Minnie',), ('River',), ('Greg',), ('Spencer',), ('Kenneth',), ('Charlize',), ('Sean',), ('Christopher',), ('Kirsten',), ('Ellen',), ('Kenneth',), ('Daryl',), ('Gene',), ('Meg',), ('Chris',), ('Jim',), ('Spencer',), ('Susan',), ('Walter',), ('Matthew',), ('Penelope',), ('Sidney',), ('Groucho',), ('Gina',), ('Warren',), ('Sylvester',), ('Susan',), ('Cameron',), ('Russell',), ('Morgan',), ('Morgan',), ('Harrison',), ('Dan',), ('Renee',), ('Cuba',), ('Warren',), ('Penelope',), ('Liza',), ('Salma',), ('Julianne',), ('Scarlett',), ('Albert',), ('Frances',), ('Kevin',), ('Cate',), ('Daryl',), ('Greta',), ('Jane',), ('Adam',), ('Richard',), ('Gene',), ('Rita',), ('Ed',), ('Morgan',), ('Lucille',), ('Ewan',), ('Whoopi',), ('Cate',), ('Jada',), ('Angela',), ('Kim',), ('Albert',), ('Fay',), ('Emily',), ('Russell',), ('Jayne',), ('Geoffrey',), ('Ben',), ('Minnie',), ('Meryl',), ('Ian',), ('Fay',), ('Greta',), ('Vivien',), ('Laura',), ('Chris',), ('Harvey',), ('Oprah',), ('Christopher',), ('Humphrey',), ('Al',), ('Nick',), ('Laurence',), ('Will',), ('Kenneth',), ('Mena',), ('Olympia',), ('Groucho',), ('Alan',), ('Michael',), ('William',), ('Jon',), ('Gene',), ('Lisa',), ('Ed',), ('Jeff',), ('Matthew',), ('Debbie',), ('Russell',), ('Humphrey',), ('Michael',), ('Julia',), ('Renee',), ('Rock',), ('Cuba',), ('Audrey',), ('Gregory',), ('John',), ('Burt',), ('Meryl',), ('Jayne',), ('Bela',), ('Reese',), ('Mary',), ('Julia',), ('Thora',)]
2024-08-21 23:03:12,491 INFO sqlalchemy.engine.Engine ROLLBACK

In [83]:
with engine.begin() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )

# with engine.begin() as conn:
#     conn.execute(text("DROP table some_table"))
#     conn.commit()

2024-08-21 23:31:19,715 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-21 23:31:19,716 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2024-08-21 23:31:19,717 INFO sqlalchemy.engine.Engine [cached since 1269s ago] {}
2024-08-21 23:31:19,718 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (%(x)s, %(y)s)
2024-08-21 23:31:19,719 INFO sqlalchemy.engine.Engine [cached since 1269s ago] [{'x': 1, 'y': 1}, {'x': 2, 'y': 4}]
2024-08-21 23:31:19,720 INFO sqlalchemy.engine.Engine COMMIT

In [138]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    # for row in result:
    #     print(f"x: {row.x}  y: {row.y}")
    resall=result.all()
resall

2024-08-22 14:10:11,591 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-22 14:10:11,594 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2024-08-22 14:10:11,595 INFO sqlalchemy.engine.Engine [cached since 1.532e+04s ago] {}
2024-08-22 14:10:11,598 INFO sqlalchemy.engine.Engine ROLLBACK

[(1, 1), (2, 4)]

In [140]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-08-22 14:13:18,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-22 14:13:18,408 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > %(y)s
2024-08-22 14:13:18,409 INFO sqlalchemy.engine.Engine [generated in 0.00294s] {'y': 2}
x: 2  y: 4
2024-08-22 14:13:18,418 INFO sqlalchemy.engine.Engine ROLLBACK

In [142]:
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import MetaData

metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
)

In [144]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)